/*police pour les titres*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/*police pour les boutons*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    background-color: black;
}
button {
    margin-top: 100px;
    margin-left: 300px;
    width: 100vh;
    height: 25vh;
    background-color: transparent;
    border-radius: 3px solid white;
    border-radius: 50vh;
    transition: width 1s, background-color 1s, margin-left 1s;
}
button:hover {
    width: 120vh;
    background-color: red;
    margin-left: 260px;
}

button:target {
    background-color: black;
    color: red;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: oblique;
    font-size: xx-large;
    text-align: center;
    margin-top: 200px;
    color: antiquewhite;
    
}
a {
    font-family: 'Anton', sans-serif;
    font-size: large;
    color: white;
}






