@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
    background-color: black;
}
button {
    margin-top: 100px;
    margin-left: 300px;
    width: 100vh;
    height: 25vh;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: oblique;
    font-size: xx-large;
    text-align: center;
    margin-top: 200px;
    color: antiquewhite;
}



